:root {
    font-family: "GidoleRegular", sans-serif;
    font-size: 16px;

    /* --default-padding: 0.25in;
    --header-font-stack: "BebasNeueBold", sans-serif; */
    
    /* http://paletton.com/#uid=a2M3u0kqKmci9tVmSq8uzi2DTcJ */
    /* --main-color: #299218;
    --second-color: #093d5c;
    --main-color-light: #64c555; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "BebasNeueBold", sans-serif;
    padding-top: 0.25in;
}

h1 {
    padding: 0;
    font-size: 200%;
    text-align: center;
    color: #ffffff;
    display: flex;
    white-space: nowrap;
}
h1 > a {
    text-decoration: none;
    color: inherit;
    margin: auto;
}

h1 > a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0.25in;
    background-color: #299218;
    flex-wrap: wrap;
}

header > nav {
    margin: auto;
}

header > nav > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

header > nav > ul > li {
    margin: 0.1in;
    text-transform: uppercase;
    text-align: center;
}

header > nav > ul > li > a {
    color: #64c555;
}

header > nav > ul > li > a:hover {
    color: #ffffff;
}

article {
    padding: 0 0.25in;
}

p {
    line-height: 1.25em;
    padding-bottom: 0.25in;
}

a {
    /* color: #093d5c; */
    color: #fff;
}

.bullets {
    margin-left: 1em;
    list-style-type: disc;
    padding-bottom: 0.25in;
}

@media only screen and (min-width: 6in) {
    h1 {
        text-align: left;
    }

    header {
        flex-direction: row;
    }

    header > nav {
        margin-right: 0.1in;
    }

    header > nav > ul {
        flex-direction: row;
    }

    article {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.logo {
    margin: auto 0.25in;
    height: 0.5in;
}