{% extends "base.html" %}

{% block title %}About | STEM Club{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/about.css" />
{% endblock %}

{% block body %}
<article>
    <h2>About STEM Club</h2>
    <p>
        We are a student run club at Winston Churchill High School in Potomac, Maryland. We generate interest in STEM,
        give Churchill students experience with STEM, and create a community for those who are very interested. The club
        mostly focuses on computer science, cybersecurity, math, and mechanical engineering.
    </p>
</article>
<article>
    <h2 id="ftc">Design and Program Robots</h2>
    <picture>
        <source srcset="/static/img/robot.webp" />
        <img src="/static/img/robot.png" alt="Our FTC robot for the 2020-2021 season" title="Our FTC robot for the 2020-2021 season" />
    </picture>
    <p>
        STEM Club team competes in FTC, a major international robotics competition. The season runs during first
        semester. After rules and game for the year are released, we design, build, and program a robot to earn the
        highest score possible. Generally, the robot drives itself in the first part of the game, and two drivers
        control it during the second half. The robot usually has to pick up small objects like balls and cubes, then
        push, launch, or position those things into a goal.
    </p>
</article>
<article>
    <h2 id="hackathon">Enter a Hackathon</h2>
    <picture>
        <source srcset="/static/img/hackathon.webp" />
        <img src="/static/img/hackathon.png" alt="ForkKnife, a multiplayer game we made for BlairHacks" title="ForkKnife, a multiplayer game we made for BlairHacks" />
    </picture>
    <p>
        Teams from STEM Club compete in Hackathons, 12 or 24 hour making and programming events. Groups of one to four
        high school students work together to make a game, an app, or anything else within the time limit. Once the
        hacking stops, judges evaluate the final projects and some will win awards and prizes. Although it's impossible
        to create something perfect in so little time, many projects still work as intended, look great, and are capable
        of doing incredible things.
    </p>
    <p>
        Groups from STEM Club have gone to several <a href="https://hacks.mbhs.edu/">BlairHacks</a> hackathons at
        Montgomery Blair High School. We also planned to go to <a href="https://mocohacks.org/">MoCoHacks</a> before it
        was postponed and hope to enter once it is rescheduled.
    </p>
    <p>
        Note that hackathons are not club sponsored activities. However, we do tell our members about upcoming
        hackathons and help form teams to compete in them.
    </p>
</article>
<article>
    <h2 id="ctf">Participate in CTFs</h2>
    <picture>
        <source srcset="/static/img/ctf.webp" />
        <img src="/static/img/ctf.png" alt="Some code and its output, used to solve an HSCTF problem" title="Some code and its output, used to solve an HSCTF problem" />
    </picture>
    <p>
        Several times a year, we form into a few teams to compete in cybersecurity CTF competitions. They are usually
        online and run for about two weeks each. During the competition time, each team tries to earn the most points by
        solving problems. The problems cover web security, binary exploitation, reverse engineering, forensics, Linux,
        programming languages, and many other topics. They are a great chance to learn about cybersecurity, writing code
        with fewer bugs and vulnerabilities, and how computers work.
    </p>
    <p>
        We have competed in many CTFs, including <a href="https://picoctf.com/">PicoCTF</a>,
        <a href="https://angstromctf.com/">ångstromCTF</a>, and <a href="https://hsctf.com/">HSCTF</a>.
    </p>
</article>
<article>
    <h2 id="stem-nights">Earn SSL at STEM Nights</h2>
    <picture>
        <source srcset="/static/img/stem_night.webp" />
        <img src="/static/img/stem_night.png" alt="Kids exploring a maze solver at a STEM Night" title="Kids exploring a maze solver at a STEM Night" />
    </picture>
    <p>
        We visit local elementary schools on their STEM Nights to demonstrate our robot and projects we create. STEM
        nights are events where many organizations involved in STEM education bring displays and demonstrations to
        elementary schools. STEM Club usually brings the FTC robot and allows the kids who come to the STEM Night to
        drive it. Our members also usually write demo programs that show off interesting software concepts, like maze
        solvers or machine learning.
    </p>
    <p>
        We have visited Beverly Farms ES, Bells Mill ES, and Wayside ES.
    </p>
</article>
<article>
    <h2>Leadership</h2>
    <p>
        STEM Club is student-led and directed. We decide what projects to work on and how to complete them on our own.
        While officers are especially involved in running the club, engaged members are also able to make decisions and
        provide input.
    </p>
    <h3>Officers for the 2020-2021 School Year</h3>
    <ul id="officers">
        <li>
            <h4>President - <a href="/members#nathan">Nathan Varner</a></h4>
            <h4>Vice President - <a href="/members#nick">Nicholas Breymaier</a></h4>
            <p>
                The President and Vice President decide on the general planning and direction for the club and make
                decisions on fundraisers, activities, and competitions that the club is going to do. They plan and
                run some club events, such as FTC meetings and classes, and help new members find their place in the
                club. They are also responsible for one-off tasks and helping other officers.
            </p>
        </li>
        <li>
            <h4>Secretary - <a href="/members#kobe">Kobe Wang</a></h4>
            <p>
                The Secretary writes grants and letters to sponsors. They manage the logistics of, and run, classes,
                working with the Outreach officer to promote them and the President and Vice President to plan and run
                them. The Secretary also adds new members into our membership records and gives them access to STEM Club
                communications, including Discord and our email list.
            </p>
        </li>
        <li>
            <h4>Treasurer - <a href="/members#lucy">Lucy Wu</a></h4>
            <p>
                The Treasurer works with the Outreach officer and Secretary to find and contact sponsors for the club.
                They also plan fundraisers with the President and Vice President and write and manage the club budget.
            </p>
        </li>
        <li>
            <h4>Outreach - <a href="/members#edan">Edan Miller</a></h4>
            <p>
                The Outreach officer promotes the club within the school, including running social media, and sends
                messages to our members when there is an upcoming event or opportunity. They also find STEM Nights and
                other events outside of the school and work with the Treasurer to find and contact sponsors.
            </p>
        </li>
    </ul>
</article>
{% endblock %}
