{% extends "base.html" %}

{% block title %}STEM Club{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/index.css" />
{% endblock %}

{% block body %}
<div class="image-box" id="intro">
    <picture>
        <source srcset="/static/img/robot.webp" type="image/webp" />
        <source srcset="/static/img/robot.png" type="image/png" />
        <img src="/static/img/robot.png" />
    </picture>
    <h2>Churchill STEM Club</h2>
    <p>We're a student run club that promotes and provides experience in STEM.</p>
    <a href="/join" class="button">Join</a>
</div>
<article class="image-box right" id="design-program">
    <picture>
        <source srcset="/static/img/auto_code.webp" type="image/webp" />
        <source srcset="/static/img/auto_code.png" type="image/png" />
        <img src="/static/img/auto_code.png" />
    </picture>
    <h3>Design and program robots</h3>
    <p>Our club team competes in FTC, a major international robotics competition.</p>
    <a href="/about#ftc">Read more</a>
</article>
<article class="image-box left" id="hackathon">
    <picture>
        <source srcset="/static/img/hackathon.webp" type="image/webp" />
        <source srcset="/static/img/hackathon.png" type="image/png" />
        <img src="/static/img/hackathon.png" />
    </picture>
    <h3>Enter a Hackathon</h3>
    <p>Teams from STEM Club compete in Hackathons, 12 or 24 hour making and programming events.</p>
    <a href="/about#hackathon">Read more</a>
</article>
<article class="image-box right" id="ctf">
    <picture>
        <source srcset="/static/img/ctf.webp" type="image/webp" />
        <source srcset="/static/img/ctf.png" type="image/png" />
        <img src="/static/img/ctf.png" />
    </picture>
    <h3>Participate in CTFs</h3>
    <p>Several times a year, we form into a few teams to compete in cybersecurity CTF competitions.</p>
    <a href="/about#ctf">Read more</a>
</article>
<article class="image-box" id="stem-night">
    <picture>
        <source srcset="/static/img/stem_night.webp" type="image/webp" />
        <source srcset="/static/img/stem_night.png" type="image/png" />
        <img src="/static/img/stem_night.png" />
    </picture>
    <h3>Earn SSL at STEM Nights</h3>
    <p>We visit local elementary schools on their STEM Nights to demonstrate our robot and projects we create.</p>
    <a href="/about#stem-nights">Read more</a>
</article>
{% endblock %}
