{% extends "base.html" %}

{% block title %}Members | STEM Club{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/about.css" />
{% endblock %}

{% block body %}
<article>
    <h2>Members</h2>
    <p>
        These are some of the most engaged members of STEM Club. If you would like to be on the website, you must first
        &lt;meet some engagement heuristic, eg. attending some number of meetings&gt;.
    </p>
    <ul class="no-bullets">
        <li>
            <h3 id="nathan">Nathan Varner (President)</h3>
            <p>
                Some description
            </p>
        </li>
        <li>
            <h3 id="nick">Nicholas Breymaier (Vice President)</h3>
            <p>
                Some description
            </p>
        </li>
        <li>
            <h3 id="kobe">Kobe Wang (Secretary)</h3>
            <p>
                Some description
            </p>
        </li>
        <li>
            <h3 id="lucy">Lucy Wu (Treasurer)</h3>
            <p>
                Some description
            </p>
        </li>
        <li>
            <h3 id="edan">Edan Miller (Outreach)</h3>
            <p>
                Some description
            </p>
        </li>
        <li>
            <h3>Alice</h3>
            <p>
                Some description
            </p>
        </li>
        <li>
            <h3>Bob</h3>
            <p>
                Some description
            </p>
        </li>
    </ul>
</article>
{% endblock %}
