article > picture {
    width: 3in;
    display: flex;
    padding: 0.25in 0 0 0.2in;
}

article > picture > img {
    width: 3in;
    margin: auto;
    max-height: 2in;
    object-fit: cover;
}

article {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
}

body > article > :not(.image-box) {
    margin: 0;
}

article > :not(picture) {
    grid-column: 1;
}

article > picture {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 99;
}

ul#officers > li {
    list-style-type: none;
    margin-left: 0;
}
