:root {
    --large-size: 2in;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: auto;
}

li {
    display: flex;
    flex-direction: column;
}

li > * {
    margin: auto;
}

li h4 {
	font-size: 150%;
}

.logo-large-container {
    width: var(--large-size);
    height: var(--large-size);
    display: flex;
}

.sponsor-logo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
