:root {
    --large-size: 2in;
}

ul:not(.bullets) {
    display: flex;
    flex-wrap: wrap;
}

ul:not(.bullets) li {
    margin: auto;
    display: flex;
    flex-direction: column;
}

ul:not(.bullets) li > * {
    margin: auto;
}

ul:not(.bullets) li h4 {
	font-size: 150%;
}

.logo-large-container {
    width: var(--large-size);
    height: var(--large-size);
    display: flex;
}

.sponsor-logo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
