ul.sponsors {
    display: flex;
    flex-wrap: wrap;
}

ul.sponsors li {
    margin: auto;
}

ul.sponsors li {
    display: flex;
    flex-direction: column;
}

ul.sponsors li > * {
    margin: auto;
}

ul.sponsors li h4 {
	font-size: 150%;
}

ul.sponsors a {
    display: flex;
    flex-direction: column;
}

ul.sponsors a h4 {
    margin: auto;
}

.logo-large-container {
    width: 2in;
    height: 2in;
    display: flex;
}

.logo-large-container img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
